= simple_form_for @post do |f|
	%p Select the Post Type
	= f.collection_radio_buttons :post_type_id, PostType.all, :id, :post_type, :item_wrapper_class => 'form-post--radio pt-16 pb-16'
	= select_tag(:language_id, options_for_select(@languages), class: 'form-post--dropdown pt-16 pb-16', prompt: "Select Language")
	= f.input :tags, label: "Enter tags below separated by a comma (Rails, RoR)", placeholder: "Add additional tags (React, Rails, etc)", wrapper_html: { class: 'form-post--tags pt-16 pb-16' }
	= f.input :title, label: "Title", wrapper_html: { class: 'form-post--title' }
	= f.input :description, label: "Description", wrapper_html: { class: 'form-post--description pt-16 pb-16' }
	= f.button :submit, class: "button button-small button-trans", wrapper_html: { class: 'form-post--tags' }