= simple_form_for @post do |f|
	%p Select the Post Type
	= f.association :post_type, as: :radio_buttons, value_method: :id, label_method: "#{:post_type}"
	/ = select_tag(:language_id, options_for_select(@languages), :prompt=> "Select Language")
	= f.input :title, label: "Title"
	= f.input :description, label: "Description"
	= f.button :submit